$line-height = 1.4rem

.post
  border: 1px solid lighten(black, 94%)
  border-radius: 3px
  .post-wrapper
    padding: 1.2em
    .post-title
      font-size: 1.08em
      line-height: $line-height

    .post-date
      font-size: 0.92em
      display: inline-block
      color: lighten(black, 70%)
      margin-bottom: 1.2em
      font-weight: 100

    .post-content
      line-height: $line-height