@import './colors.styl'

html 
  font-size: 17px
  overflow-y: auto

body
  line-height: 1.4
  height: initial;
  // font-family: CamphorPro-Regular

a
  text-decoration: none
  color: $color-primary-a
  &:hover
    color: lighten($color-primary-a, 20%)
  &:active
    color: $color-primary-a

h1
  font-size: 1.4em
  font-weight: bold

h2
  font-size: 1.2em

h3
  font-size: 1em